<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('head.ejs') %>
    <title>about</title>
</head>
<body>
    <!-- heder sec -->
    <%- include('header.ejs') %>


    <!-- main -->

    <section class="about">

    <div class="img">
        <img src="img/about-img.png" alt="">
    </div>

    <div class="content">
        <h3>our story</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam modi ea fuga quibusdam fugiat porro doloremque, quas dignissimos culpa unde. Recusandae maxime aliquam beatae reiciendis, facilis voluptatum eligendi nesciunt ipsa?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, distinctio et? Odio voluptatum eius reprehenderit saepe quisquam excepturi molestiae architecto.</p>
        <a href="#" class="btn">read more</a>
    </div>

    </section>




    <!-- footer -->
    <%- include('footer.ejs') %>

    <!-- swiper js link      -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="/js/script.js"></script>

</body>
</html>