<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('head.ejs') %>
    <title>connect</title>
</head>
<body>
    <!-- heder sec -->
    <%- include('header.ejs') %>


    <!-- main -->

 <!-- contact info section starts  -->

<section class="info-container">

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map"></i>
            <h3>address</h3>
            <p>mumbai, india - 400104</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <p>shaikhanas@gmail.com</p>
            <p>anasbhai@gmail.com</p>
        </div>

        <div class="box">
            <i class="fas fa-phone"></i>
            <h3>number</h3>
            <p>+123-456-7890</p>
            <p>+111-222-3333</p>
        </div>

    </div>

</section>

<!-- contact info section ends -->


    <!-- footer -->
    <%- include('/footer.ejs') %>

    <!-- swiper js link      -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="script.js"></script>

</body>
</html>