<!-- footer section starts  -->
<section class="quick-links">

    <a href="/home" class="logo"> <i class="fas fa-store"></i> shopie </a>

    <div class="links">
        <a href="/home"> home </a>
        <a href="/about"> about </a>
        <a href="/products"> products </a>
        <a href="/contact"> contact </a>
        <a href="/login"> login </a>
        <a href="/register"> register </a>
        <a href="/cart"> cart </a>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

</section>
<section class="credit">
    <p> created by <span>Hadeel Jameel</span> | all rights reserved! </p>
</section>
<!-- footer section ends -->

