<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <%- include('head.ejs') %>
    <title>login</title>
</head>
<body>
    <!-- heder sec -->
    <%- include('header.ejs') %>


    <!-- main -->

 <!-- login form section starts  -->
<section class="login">

    <form action="">
        <h3>login now</h3>
        <input type="email" name="" placeholder="enter your email" id="" class="box">
        <input type="password" name="" placeholder="enter your password" id="" class="box">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> remember me </label>
        </div>
        <input type="submit" value="login now" class="btn">
        <p>don't have an account?</p>
        <a href="register.html" class="btn link">register now</a>
    </form>

</section>
<!-- login form section ends  -->


    <!-- footer -->
    <%- include('/footer.ejs') %>

    <!-- swiper js link      -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="script.js"></script>

</body>
</html>